<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2023TeamC/blob/main/Datenbank/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objective**: Create a Datawarehouse and transform data from source database to datawarehouse db

# Importing libraries

In [73]:
import sqlite3
from sqlite3 import Error

In [74]:
# Mount google Drive to access the data

from google.colab import drive
drive.mount("/content/drive")

print(f'The current working directory is:')
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
The current working directory is:
/content

# Path of input/output data

In [75]:
# Define the variables to store the paths to csv files and to the data folder

disease = 'metabolic_syndrome_disease'
path_csv_files = f"/content/drive/Shareddrives/TeamC/Material/csv_data/{disease}"
path_teamc = "content/drive/Shareddrives/TeamC"

# path of the source database
DB_SOURCE_PATH = "/content/drive/Shareddrives/TeamC/teamc_db.db"

# path of the data warehouse
DB_DWH_PATH = "/content/drive/Shareddrives/TeamC/teamc_dwh.db"

In [76]:
# Define the patient type
patient_type = "metabolic_syndrome_disease"

# Create Datawarehouse

In [77]:
class DB(object):
  def __init__(self, db_file):
    self.conn = sqlite3.connect(db_file)
    self.cur = self.conn.cursor()
    self.__init_db()
  
  # This function commits the changes and closes the connection
  def __del__(self):
      self.conn.commit()
      self.conn.close()

  # If the DB does not exist, it will be created. Afterwards empty tables will be created using the SQL Statements from the source DB
  def __init_db(self):

    # drop the existing tables (in case the code has been run already)
    drop_patients_info = """DROP TABLE IF EXISTS patients_info"""
    drop_conditions_info = """DROP TABLE IF EXISTS conditions_info"""
    drop_medications_info = """DROP TABLE IF EXISTS medications_info"""
    drop_med_codes = """DROP TABLE IF EXISTS med_codes"""
    drop_conditions_codes = """DROP TABLE IF EXISTS conditions_codes"""

    #  sql query to create patients_info table
    create_patients_info = """CREATE TABLE IF NOT EXISTS patients_info (
                            Id STRING PRIMARY KEY, 
                            BIRTHDATE DATE, 
                            DEATHDATE DATE,
                            RACE STRING,
                            ETHNICITY STRING
                            );"""


    # sql query to create conditions table
    create_conditions_info = """CREATE TABLE IF NOT EXISTS conditions_info (
                                START DATE,
                                STOP DATE, 
                                PATIENT STRING,
                                CODE STRING,
                                FOREIGN KEY (PATIENT) REFERENCES patients_info (Id)
                                FOREIGN KEY (CODE) REFERENCES conditions_codes (CODE)
                                );"""

    # sql query to create medications table
    create_medications_info = '''CREATE TABLE IF NOT EXISTS medications_info (
                                  START DATE,
                                  STOP DATE,
                                  PATIENT STRING,
                                  CODE STRING,
                                  FOREIGN KEY (PATIENT) REFERENCES patients (Id)
                                  FOREIGN KEY (CODE) REFERENCES med_codes (CODE)
                                  );'''
    # create table to store the medication codes and their description
    create_med_codes = '''CREATE TABLE IF NOT EXISTS med_codes (
                          CODE STRING,
                          DESCRIPTION STRING);'''
                          
    # create table to store conditions codes and their description
    create_conditions_codes = '''CREATE TABLE IF NOT EXISTS conditions_codes (
                              CODE STRING,
                              DESCRIPTION STRING);'''                   


    # A list with the names of the tables that were created in the new DB
    create_tables = [create_patients_info, # demographic data
                     create_conditions_info, # diagnoses data
                     create_medications_info,# encounters data
                     create_med_codes, # medication codes and their description
                     create_conditions_codes #condition codes and their description
                     ]
    drop_tables =  [drop_patients_info,
                   drop_conditions_info,
                   drop_medications_info,
                   drop_med_codes,
                   drop_conditions_codes]

    if self.conn is not None: # If connection was succesfully initialized, the following loop will run
      
      # Drop every table
      for query in drop_tables:
        self.cur.execute(query)
        
      # For every element in the 'create_tables' list, its corresponding statement will be executed, 
      # which in this case means, the creating of the tables
      for query in create_tables:
        self.cur.execute(query)

    else:
      # If the connection was not succesfully initialized, print this message
      print('Connection to database failed')

#ETL/ELT (Extract, transform, load )

In [78]:
# Defining class SqlQuery and its methods

class SqlQuery:
  def __init__(self, source_table, column_names, sink_table):
    self.source_table = source_table

    # Define how many comlumns there are
    self.column_numbers = len(column_names) 

    # Transform the list of column names into a comma-separated string with the names
    self.column_names = ', '.join(column_names) 
    self.sink_table = sink_table

  # The following function returns SELECT query using column names from the 'column_names' variable,
  # transformed in the above function to be a comma-separated string
  def extract_query(self):
    return 'SELECT ' + self.column_names + ' FROM ' + self.source_table 

  def load_query(self):

    # As many comma-separated question marks as there are columns
    values_str = '?,' * self.column_numbers

    # Delete the last comma
    values_str = values_str[:-1] 

    # Return an INSERT statement, targeting 'sink_table' with values not yet defined (question marks
    # are here placeholders for a later function)
    return 'INSERT OR REPLACE INTO ' + self.sink_table + ' VALUES (' + values_str + ')'

In [79]:
# Copy the data from the source db into the target db
# source_cxn - connection to the source db
# target_cnx - connection to the target db

def etl(query, source_cnx, target_cnx):

  ## extract data from source db
  # create a cursor on the source connection
  source_cursor = source_cnx.cursor()

  # Using the query from the 'query' variable, it being a SqlQuery class object,
  # use the 'extract_query' method to return a SELECT statement and then execute it
  source_cursor.execute(query.extract_query())

  # Store the extracted data in the 'data' variable
  data = source_cursor.fetchall()

  # close the cursor
  source_cursor.close()


  # load data into warehouse db
  # if the data variable contains any data, do the following
  if data:

    # Initialize cursor on the target db connection
    target_cursor = target_cnx.cursor()

    # Using the 'load_query' method, return a Sql INSERT Statement and complement it with
    # the data from the 'data' variable - that is the data extracted from the source table.
    # Then, execute the statement using the target db cursor
    target_cursor.executemany(query.load_query(), data)

    # After executing the above statement, print out the following message
    print('data loaded to warehouse db') 

    # Commit the changes to the targed db
    target_cnx.commit()

    # Close the cursor
    target_cursor.close()
  else:
    print('data is empty')


# Define a function to process multiple queries, so that the whole db can be copied

def etl_process(queries, target_cnx, db_source):

# 'queries' - a list of queries
# 'target_cnx' - connection to the target DB
# 'db_source' - path to the source db file

  # establish source db connection
  try:
    source_cnx = sqlite3.connect(db_source)
  except Error as err:
    print(err)
  
  # loop through sql queries, using the above defined 'etl' function
  for query in etl_queue:
    etl(query, source_cnx, target_cnx)
    
  # close the source db connection
  source_cnx.close()

In [80]:
## create Datawarehouse
# Using the aforedefined DB Class, create a Database file in the 'DB_DWH_PATH' path
# store it in a variable dwh_db
dwh_db = DB(DB_DWH_PATH)

In [81]:
## Create sql queries to populate the tables

# create an empty list, where later on the sql queries will be stored
etl_queue = []

# store the column names of the 'patients' table in a variable
patients_columns = ['Id', 'BIRTHDATE', 'DEATHDATE', 'RACE', 'ETHNICITY']
                  
# create a variable sql_query_patients, which is to be of class 'SqlQuery'
# the argument order within the class is: source_table, column_names, sink_table                
sql_query_patients = SqlQuery("patients", patients_columns, "patients_info")

# add the above sql query to the query list
etl_queue.append(sql_query_patients)


# repeat the above process for the 'conditions' table
conditions_columns = ['START', 'STOP', 'PATIENT', 'CODE']
sql_query_conditions = SqlQuery("conditions", conditions_columns, "conditions_info")
etl_queue.append(sql_query_conditions)

# repeat for the medications table
medications_columns = ['START', 'STOP', 'PATIENT', 'CODE']
sql_query_medications = SqlQuery("medications", medications_columns, "medications_info")
etl_queue.append(sql_query_medications)

Exception ignored in: <function DB.__del__ at 0x7f07db1885e0>
Traceback (most recent call last):
  File "<ipython-input-57-4edb33b9f4ae>", line 9, in __del__
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139672820598592 and this is thread id 139672216528640.

In [82]:
# establish connection for target database
target_cnx = dwh_db.conn

# use the 'etl_process' function to fill the target database with the data from the source database
# for every table, a message will be printed out
etl_process(etl_queue, target_cnx, DB_SOURCE_PATH)

data loaded to warehouse db
data loaded to warehouse db
data loaded to warehouse db

In [83]:
target_cnx.commit()

In [84]:
# check list of tables
# there should be 2 tables: 'patients_info' and 'conditions_info'
dwh_cursor = target_cnx.cursor()
dwh_cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(dwh_cursor.fetchall())

[('patients_info',), ('conditions_info',), ('medications_info',), ('med_codes',), ('conditions_codes',)]

In [85]:
# now, populate the med_codes and the conditions_codes and group by code to get unique codes and their descriptions
# to do that, use the data from the source database

target_cnx = dwh_db.conn
source_cnx = sqlite3.connect(DB_SOURCE_PATH)

dwh_cursor = target_cnx.cursor()
src_cursor = source_cnx.cursor()

# table med_codes
src_cursor.execute('''SELECT CODE, DESCRIPTION FROM medications GROUP BY CODE''')
data = src_cursor.fetchall()
dwh_cursor.executemany('''INSERT INTO med_codes (CODE, DESCRIPTION) VALUES (?,?)''', data)

#table conditions_codes
src_cursor.execute('''SELECT CODE, DESCRIPTION FROM conditions GROUP BY CODE''')
data = src_cursor.fetchall()
dwh_cursor.executemany('''INSERT INTO conditions_codes (CODE, DESCRIPTION) VALUES (?,?)''', data)


#check if tables are properly populated
dwh_cursor.execute('SELECT * FROM conditions_codes')
data = dwh_cursor.fetchall()
for n in data:
  print(n)

dwh_cursor.execute('SELECT * FROM med_codes')
data = dwh_cursor.fetchall()
for n in data:
  print(n)

(22298006, 'Myocardial Infarction')
(49436004, 'Atrial Fibrillation')
(53741008, 'Coronary Heart Disease')
(230690007, 'Stroke')
(399211009, 'History of myocardial infarction (situation)')
(410429000, 'Cardiac Arrest')
(429007001, 'History of cardiac arrest (situation)')
(197361, 'Amlodipine 5 MG Oral Tablet')
(197604, 'Digoxin 0.125 MG Oral Tablet')
(259255, 'Atorvastatin 80 MG Oral Tablet')
(309362, 'Clopidogrel 75 MG Oral Tablet')
(312961, 'Simvastatin 20 MG Oral Tablet')
(705129, 'Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray')
(833036, 'Captopril 25 MG Oral Tablet')
(834357, '3 ML Amiodarone hydrocholoride 50 MG/ML Prefilled Syringe')
(855332, 'Warfarin Sodium 5 MG Oral Tablet')
(897718, 'Verapamil Hydrochloride 40 MG')
(1190795, 'Atropine Sulfate 1 MG/ML Injectable Solution')
(1660014, '1 ML Epinephrine 1 MG/ML Injection')
(1804799, 'Alteplase 100 MG Injection')

In [86]:
target_cnx.commit()

In [87]:
# check columns in a table
dwh_cursor.execute('PRAGMA table_info(' + "patients_info" + ');')
dwh_cursor.fetchall()

[(0, 'Id', 'STRING', 0, None, 1),
 (1, 'BIRTHDATE', 'DATE', 0, None, 0),
 (2, 'DEATHDATE', 'DATE', 0, None, 0),
 (3, 'RACE', 'STRING', 0, None, 0),
 (4, 'ETHNICITY', 'STRING', 0, None, 0)]

In [88]:
# check if the table patients_info is properly filled by printing out the first 5 rows
dwh_cursor.execute("SELECT * from patients_info limit 5")
rows = dwh_cursor.fetchall()
for row in rows:
  print(row)

('5e96bd7f-bdc3-7787-110f-ba2dfb89948b', '1982-09-20', None, 'white', 'nonhispanic')
('19a257c0-1425-cb43-c92b-60be60a62e4b', '2012-07-11', None, 'white', 'nonhispanic')
('e864c897-cc30-45e3-0950-8503ed51d86c', '1997-07-22', None, 'white', 'hispanic')
('1f162789-128f-2fa6-3c99-c4a517a7e694', '1994-12-07', None, 'white', 'nonhispanic')
('0508d723-6462-c769-7050-e9eff1f61ec7', '1971-04-05', None, 'white', 'nonhispanic')

In [89]:
# check if the table conditions_info is properly filled by printing out the first 5 rows
dwh_cursor.execute("SELECT * from conditions_info LIMIT 5")
rows = dwh_cursor.fetchall()
for row in rows:
  print(row)

('2007-11-29', None, '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 53741008)
('2011-06-09', None, '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 22298006)
('2011-06-09', None, '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 399211009)
('2016-08-25', None, '652d25f0-b857-88a9-0957-59566f1c389c', 410429000)
('2016-08-25', None, '652d25f0-b857-88a9-0957-59566f1c389c', 429007001)

In [90]:
# check if the table encounters_info is properly filled by printing out the first 5 rows
dwh_cursor.execute("SELECT * from medications_info LIMIT 5")
rows = dwh_cursor.fetchall()
for row in rows:
  print(row)

('2007-11-29T14:30:10Z', '2011-06-09T14:45:10Z', '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 309362)
('2007-11-29T14:30:10Z', None, '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 312961)
('2007-11-29T14:30:10Z', None, '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 197361)
('2007-11-29T14:30:10Z', '2011-06-09T14:45:10Z', '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 705129)
('2011-06-09T14:30:10Z', '2011-06-09T14:45:10Z', '0d04cd1b-3c01-0a2d-1f67-d7dd491149ad', 259255)

In [91]:
target_cnx.close()